.vs/Staff Management/DesignTimeBuild/.dtbcache.v2
.vs/Staff Management/FileContentIndex/4ee7e1da-c760-4bcf-9ab6-be3ed7a61343.vsidx
.vs/Staff Management/FileContentIndex/4f63ce0a-0b91-4ca6-8887-de74f028b9d5.vsidx
.vs/Staff Management/FileContentIndex/9977c49e-8f48-4f03-8a3a-b19a2ec85905.vsidx
.vs/Staff Management/FileContentIndex/520789f7-9a33-4686-9135-082b10695779.vsidx
.vs/Staff Management/FileContentIndex/b17f48b8-730d-4851-ab47-c6dc13895af3.vsidx
.vs/Staff Management/v17/.futdcache.v2
.vs/Staff Management/FileContentIndex/4c2abbce-6858-460a-a436-6e0f0d6391de.vsidx
.vs/Staff Management/FileContentIndex/d772984f-1ee8-418e-8f54-9f01df725e77.vsidx
.vs/Staff Management/FileContentIndex/fc8fcbf7-9ef6-4df5-9580-7e780aa95775.vsidx
.vs/Staff Management/FileContentIndex/146ad108-cb54-4e69-bfcf-da0d516d58bf.vsidx
